<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kadin Van Valin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/app.js" type="text/javascript"></script>
</head>
<body>
<nav>
    <ul class="nav" role="navigation">
        <li><a href="#about">about</a></li>
        <li><a href="#projects">projects</a></li>
        <li><a href="#skills">skills</a></li>
        <li><a href="#faq">faq</a></li>
        <li><a href="#lorem">Lorem ipsum</a></li>
    </ul>
</nav>

<div class="container">


    <!--<p th:text="'Hello, ' + ${name} + '!'"/>-->

    <div class="section" id="about">
        <h2>welcome to my site</h2>
        <p>I have a passion for people and a passion for learning. A year ago I dipped my toes into web development with
            a
            Thinkful skills course where a passion for quality code was born. After six months of self study, I decided
            to
            dive deep by enrolling into Dev Bootcamp. This not only fed my love for learning code, but helped me see how
            my
            passion for people can be used in the space with team projects and soft skills training.</p>

        <img class="section-picture" src="/img/kadinvanvalin.jpg" alt="Picture of the author"/>

    </div>

    <div id="projects">
        <h2 class="header">projects</h2>
        <div class="section">
            <div>
                <h2>codeasaurus</h2>

                <p>Allows students to to view code snippets, MD files and embedded video that teacher uploads.
                    Project was built in three days by a group of Dev bootcamp students. I was responsible for the front
                    end
                    and
                    the javascript libraries used for syntax highlighting and rendering the MD.
                    A basic CRUD app built using rails, Ace Editor and Devise</p>
            </div>
            <div class="section-picture">

                <img src="/img/codeasaurus.png" alt="codeasaurus site"/>
                <div class="thumbnails">
                    <img src="/img/codeasaurus-trello.png" alt="Trello for Codeasaurus project"/>
                    <img src="/img/codeasaurus-wireframe.JPG" alt="Wireframe for Codeasaurus project"/>
                </div>

            </div>

            <div class="section-links"><a href="https://github.com/Kadinvanvalin/codeasaurus">source code</a></div>

        </div>
        <div class="awquaint">
            <h2>awquaint</h2>
            Collaborated on a team of four to build a Swift iOS application with a Ruby on Rails API as the backend
            using
            test driven development. The application allows users to create profiles and match with other users based on
            their interests and current location. The goal of the application is to create meaningful relationships
            based on
            the conversation topics chosen by the users.
            <img class="section-picture" src="/img/awquaint-update-interest.png" alt=""/>
            <img src="/img/awquaint-lobby.png" alt=""/>
            <img src="/img/awquaint-invite.png" alt=""/>
            <img src="/img/awquaint-meet.png" alt=""/>

        </div>
    </div>
    <div class="section" id="lorem">
        <h2>LOREM</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tellus dui, dictum vel lacus eu,
            dignissim
            convallis augue. Phasellus at neque magna. Aliquam erat volutpat. Curabitur at libero quis mauris vestibulum
            venenatis non sit amet est. Integer pellentesque neque lectus. Curabitur arcu nisi, condimentum in aliquam
            et,
            tincidunt vel urna. Nam suscipit tristique mauris quis sollicitudin. Vivamus sit amet urna viverra,
            sollicitudin
            tortor ac, finibus nisl. In quis dui dapibus, commodo lacus at, convallis ex.

            Ut malesuada ornare efficitur. Sed pharetra semper eros et cursus. Etiam viverra risus ac sodales tristique.
            Pellentesque sollicitudin, quam vel ornare vestibulum, felis metus molestie orci, vitae convallis quam arcu
            at
            nisi.
            In sodales, ex nec placerat iaculis, dui elit sodales nibh, vel varius magna risus quis augue. Aenean et
            nulla
            vel
            erat interdum rhoncus. Aenean et metus et purus ullamcorper congue. Sed dignissim vel diam ac porttitor. In
            dictum
            convallis condimentum. Etiam ut vestibulum nisi, eget elementum urna. Vivamus felis enim, aliquet non risus
            eget,
            accumsan volutpat turpis. Fusce sollicitudin metus dui, at condimentum eros consectetur non.

            Maecenas ut urna sit amet nibh dapibus scelerisque. Orci varius natoque penatibus et magnis dis parturient
            montes,
            nascetur ridiculus mus. Nullam ac gravida velit. Ut venenatis eu dui vitae fringilla. Donec quis iaculis
            nunc.
            Donec
            tempor non velit at bibendum. Praesent ut erat nibh. Cras imperdiet, nisi vel condimentum aliquam, ante arcu
            viverra
            mi, at ornare mi ante sed nisl. Etiam finibus, lacus et imperdiet consectetur, justo arcu fermentum dui, at
            feugiat
            neque purus id nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Sed
            ac
            efficitur ipsum, ac euismod diam. Donec diam nisl, rhoncus at mattis et, ornare vitae augue. Vestibulum
            molestie
            dignissim felis non sagittis. Fusce diam mi, pharetra sed sodales at, vulputate ac purus. In quis massa
            mattis,
            tempor purus nec, porttitor mauris.

            Nulla non tincidunt odio. Ut tincidunt bibendum eros, eget iaculis eros. Vivamus sem magna, tincidunt non
            congue
            eu,
            pretium quis magna. Nullam ac sapien vestibulum sem ultricies vestibulum a eu lectus. Mauris quis molestie
            risus.
            Nam in nulla dui. Aenean mauris urna, ullamcorper nec lorem quis, condimentum elementum ipsum. In sit amet
            tellus
            dignissim, ultrices massa id, lacinia nunc.

            Nulla a tincidunt lacus, eu luctus tortor. Etiam libero magna, molestie ac lobortis et, tincidunt quis eros.
            In
            vitae suscipit purus, quis feugiat ex. Morbi sit amet congue arcu. Morbi vehicula, dui sed gravida
            ullamcorper,
            ante
            diam pulvinar mauris, quis pulvinar augue velit sit amet est. Nulla et odio pretium, rhoncus justo sit amet,
            pellentesque enim. Nulla at blandit nunc. Quisque dictum ipsum augue, et lacinia erat finibus et. Quisque
            cursus
            massa venenatis mauris tristique venenatis commodo sit amet velit. Integer pharetra dolor eget justo ornare,
            id
            convallis metus blandit. Nulla in arcu porta, viverra nibh in, interdum nibh. Nunc malesuada eleifend felis
            id
            luctus. Etiam eu facilisis justo.
        </p>
    </div>
</div>
</body>
</html>